
html {
  font-family: sans-serif;
}


p {
  color: red;
}

#lizi {
  color: blue;
}

#copyright {
  color: #18ACFF;
  /* background-color: grey; */
}
legend {
  background-color: grey;
  color: white;
  width: 60px;
  font-weight: bold;
}
input[type=Button] {
  width: auto;
  background-color: green;
  color: white;
  font-size: 16px;
}
